.page{
  min-width: 300px;
  min-height: 100vh;
  background-color: #000000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
