.elements__caption{
  display: flex;
  padding-left: 21px;
  padding-right: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-height: 79px;
}
